# Assignment 4

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.
2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
4. Generate a dictionary with the definition of all the columns in your dataset.
5. Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.

# EXERCISE 4

In [2]:
summary_statistics = {
    'Unnamed: 0': {
        'count': 10000.00000,
        'mean': 5000.50000,
        'std': 2886.89568,
        'min': 1.00000,
        '25%': 2500.75000,
        '50%': 5000.50000,
        '75%': 7500.25000,
        'max': 10000.00000
    },
    'NACE Rev. 2, core code (4 digits)': {
        'count': 9650.000000,
        'mean': 4842.839482,
        'std': 2167.757574,
        'min': 100.000000,
        '25%': 4299.000000,
        '50%': 4690.000000,
        '75%': 6120.000000,
        'max': 9609.000000
    },
    'Last avail. year': {
        'count': 10000.000000,
        'mean': 2020.296500,
        'std': 3.672947,
        'min': 2005.000000,
        '25%': 2021.000000,
        '50%': 2022.000000,
        '75%': 2022.000000,
        'max': 2023.000000
    }
}

# Print the dictionary
for column, stats in summary_statistics.items():
    print(f"{column}:")
    for stat, value in stats.items():
        print(f"  {stat}: {value}")
    print()

Unnamed: 0:
  count: 10000.0
  mean: 5000.5
  std: 2886.89568
  min: 1.0
  25%: 2500.75
  50%: 5000.5
  75%: 7500.25
  max: 10000.0

NACE Rev. 2, core code (4 digits):
  count: 9650.0
  mean: 4842.839482
  std: 2167.757574
  min: 100.0
  25%: 4299.0
  50%: 4690.0
  75%: 6120.0
  max: 9609.0

Last avail. year:
  count: 10000.0
  mean: 2020.2965
  std: 3.672947
  min: 2005.0
  25%: 2021.0
  50%: 2022.0
  75%: 2022.0
  max: 2023.0

In [25]:
import numpy as np
import pandas as pd

In [9]:
file_path = 'C:/path/to/your/directory/bogota_firms.xlsx'

In [10]:
import os
print(os.getcwd())

C:\Users\alice\Documents\GitHub\MediaLab_PUCP\Lecture_4\Assignment_4

In [21]:
pip install --upgrade pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\alice\appdata\roaming\python\python311\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
file_path = r'C:\Users\alice\Documents\GitHub\MediaLab_PUCP\_data\bogota_firms.xlsx'
df_search_summary = pd.read_excel(file_path, sheet_name='Search summary')
df_results = pd.read_excel(file_path, sheet_name='Results')
display("\nEstadísticas descriptivas de la hoja 'Search summary':")
display(df_search_summary.describe())
display("\nEstadísticas descriptivas de la hoja 'Results':")
display(df_results.describe())

"\nEstadísticas descriptivas de la hoja 'Search summary':"

,List export,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
count,23,9,2,3,4,3
unique,23,9,2,3,4,3
top,Product name,Orbis,31/03,"Active companies, Unknown situation",Step result,Search result
freq,1,1,1,1,1,1

"\nEstadísticas descriptivas de la hoja 'Results':"

        Unnamed: 0  NACE Rev. 2, core code (4 digits)  Last avail. year
count  10000.00000                        9650.000000      10000.000000
mean    5000.50000                        4842.839482       2020.296500
std     2886.89568                        2167.757574          3.672947
min        1.00000                         100.000000       2005.000000
25%     2500.75000                        4299.000000       2021.000000
50%     5000.50000                        4690.000000       2022.000000
75%     7500.25000                        6120.000000       2022.000000
max    10000.00000                        9609.000000       2023.000000