# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [22]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [23]:
import numpy as np

In [24]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [25]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [26]:
p2_list = [ 2 , 3, 4, 5 ]

In [27]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [28]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [29]:
str1 = 'I am                            too                                                        old'

In [30]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

# 1.1 TUPLE

## EXERCISE NUMBER 6

In [3]:
tuple2 = ([7, 8], [9, 1], [10, 7])

In [5]:
tuple3 = tuple(map(lambda list: [x//2 for x in list], tuple2))

In [6]:
print(tuple3)

([3, 4], [4, 0], [5, 3])

### The first step is to write the tuple exactly as the exercise tells us. After that, we create the "tuple 3" as an equivalence of the second, but with the addition of the function "map" which lets us change every group that conforms the tuple2 and divides them by 2 through x//2. In addition, it is pertinent to mention that "lambda list" refers to a list without a name, like an imagined list we used for the creation of the tuple number 3. To end, We just need to put on the command "print" with "tuple3" and the answer will be given to us.

# 1.2 LISTS

## EXERCISE NUMBER 1

In [17]:
import numpy as np

In [18]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [21]:
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

### Naturally, we start writing the phrase "import numpy as np" as it should be when we involucrate with something around "numpy". Now it is time to write the f_list exactly, with all his elements. Then, though "print", we will try to create the message "The indices..." with the addition of the resulting numbers. With this purpose, I start with "f" (f-strings) to convert the next into an expression. So, in the middle, I will have to insert " ', '.join " to add spaces and join all indexes. Inside of it, we use "map" to convert every "nan_indices" index into a string. Now, all is prepared.

## EXERCISE NUMBER 2

In [7]:
import numpy as np

In [8]:
p2_list = [2, 3, 4, 5]

In [11]:
replicated_p2_list = p2_list * 4

In [12]:
print(replicated_p2_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

### The first step is to write "import numpy as np" because we need to shorten the word "numpy" as we watched in class. After this, we add the list "p2_list" and the objects conform itself. The third step is to assign a name to a new list that will be equivalent to the previous list multiplied by 4. The result is what we intended, one that would multiply each object by 4 times.

## EXERCISE NUMBER 3

In [13]:
import numpy as np

In [15]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [17]:
print(len(f_list))

8

### The first step is to write "import numpy as np" because we need to short the word "numpy" as we watched in class. After this, I have just put the list in question to continue with the command "print". Finally, the answer that the machine gave us is 8.

## EXERCISE NUMBER 4

In [38]:
text1 = ["My ", "teacher ", "assistant ", "is ", "so ", "boring."]

In [39]:
combined_text ="".join(text1)

In [40]:
print(combined_text)

My teacher assistant is so boring.

### The first step is to write the list we need ("text1") and his objects (["My", "teacher", etc]). After this, I assigned the name "combined_text" to the result of using the function ".join" to the list in question. Therefore, the last step only was about refreshing all and using print(combined_text) to obtain the answer we needed.

## EXERCISE NUMBER 5

In [17]:
# We create a list with the missing text.
text2 = ['But', 'is', 'very', 'funny']

# We add missing items to text1.
text1.extend(text2)

# The join method is used to concatenate all items of a list with a specific string.
result = ' '.join(text1)

print(result)

My teacher assistant is so boring. But is very funny

## EXERCISE NUMBER 6

In [18]:
# We use the max() function to find the maximum value within the list values1 and store it in the variable maxValue.
# We find the index of the maximum value (maxValue) in the list values1 using the index() method.
maxValue = max(values1)
maxPosition = values1.index(maxValue)

# We use the min() function to find the minimum value within the list values1 and store it in the variable minValue.
# We find the index of the minimum value (minValue) in the list values1 using the index() method and store it in the variable minPosition.
minValue = min(values1)
minPosition = values1.index(minValue)

# We print the minimum and maximum value and its position in the list values1 using an f-string for formatting the output.
print(f"The max value of values1 is {maxValue} and is located in the {maxPosition} index.")
print(f"The min value of values1 is {minValue} and is located in the {minPosition} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

## EXERCISE NUMBER 7

In [19]:
# We split the full name into two parts using split(", ") to separate the last name and the first name.
# The comma and space are used as delimiters to separate the last name and the first name.
# We extract the first name and assign it to the variable name.
def separateNames(fullName):
    fullNameSeparated = fullName.split(", ")
    name = fullNameSeparated[1]
    return name
 
# Use the map() function to apply the separateNames function to each element in the last_and_name list.
# We convert the map into a list named nombres that contains only the extracted names.
namesExtracted = map(separateNames, last_and_name)
nombres = list(namesExtracted)
print(nombres)

# This separateLastNames function takes a full name in the format "last name, first name" and returns only the last name.
# Then we divide the full name into two parts using split(", ") to separate the last name and the first name.
# After that, we extract the last name (which is the first element before the comma: indexed as 0) and assign it to the variable name.
def separateLastNames(fullName):
    fullNameSeparated = fullName.split(", ")
    name = fullNameSeparated[0]
    return name
 
# Use the map() function to apply the separateLastNames function to each element in the last_and_name list. 
# This creates a map that contains the extracted last names from each full name.
# We convert the map into a list named apellidos that contains only the extracted last names.
lastNameExtracted = map(separateLastNames, last_and_name)
apellidos = list(lastNameExtracted)
print(apellidos)

['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

## EXERCISE NUMBER 8

In [20]:
# This line joins all the emails in the emails list into a single string using join(',') and then converts the entire string to uppercase using upper().
correos = (',').join(emails).upper()

# We split the last names in words, assuming that last names are separated by a space.
# Then, we assign the first element of the last name split to the variable apellidoPaterno.
def findNoEmail(apellido):
    lastNameSeparated = apellido.split(" ")
    apellidoPaterno = lastNameSeparated[0]
    
# Search for the position of the last names (apellidoPaterno) in the correos string containing all the emails.
# If apellidoPosicion is -1 (the last name is not found in the correos string), it returns the last name (apellidoPaterno). Otherwise, it returns None.
    apellidoPosicion = correos.find(apellidoPaterno)
    if apellidoPosicion == -1:
        return apellidoPaterno
    else:
        return None

# We use the map() function to apply the findNoEmail function to each element in the apellidos list, to find last names that are not present in the emails.
lastNameNoEmail = map(findNoEmail, list(apellidos))

# Filters the resulting list lastNameNoEmail to remove None values (last names that were present in the emails) using the filter() function and a lambda function that filters out values that are not None.
resultados_filtrados = list(filter(lambda x: x is not None, lastNameNoEmail))

print(list(resultados_filtrados))

['GUIMARAY', 'FIGUEROA', 'SUAÑA', 'FIORENTINO', 'DIAZ', 'AGUILAR', 'HUANCAYA', 'CALVO', 'IBAÑEZ', 'MELÉNDEZ', 'CRISTIAN', 'HINOJOSA', 'ANGLAS', 'ALDAVE', 'NÚÑEZ', 'OBREGON', 'INGARUCA', 'ROJAS', 'NEYRA', 'HUERTA', 'HUANCA']

# 1.3 STRINGS

## EXERCISE NUMBER 1

In [31]:
# We split the original string into words using the split() method, which automatically removes duplicate white spaces.

str1NoSpaces = str1.split()

# Reconstruct the string by joining the words with a single space between each one, using the join() function.

str1NewFormat = (' ').join(str1NoSpaces)
print(str1NewFormat)

I am too old