# 1 Assignment 3

In [2]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [28]:
pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\fiorella\anaconda3\lib\site-packages (1.2.6)
Requirement already satisfied: pandas>=1.2.0 in c:\users\fiorella\anaconda3\lib\site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fiorella\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\fiorella\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\fiorella\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\fiorella\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\fiorella\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
rec_1 = pd.read_spss( r"../../_data/endes/2019/REC0111.sav" )

In [30]:
rec_2 = pd.read_spss( r"../../_data/endes/2019/RE223132.sav" )

In [31]:
rec_3 = pd.read_spss( r"../../_data/endes/2019/RE516171.sav" )

In [34]:
import pyreadstat

# Se coloca la ruta en la que se encuentran los archivos
ruta_datos = "../../_data/endes/2019/"

# Creamos una lista con los archivos que usaremos
nombres_archivos = ["REC0111.sav", "RE223132.sav", "RE516171.sav"]

# Le asignamos el nombre a las etiquetas de variables y valores
nombres_etiquetas_variables = ["var_labels1", "var_labels2", "var_labels3"]
nombres_etiquetas_valores = ["value_labels1", "value_labels2", "value_labels3"]

# Importamos y asignamos nombres y etiquetas
for i, nombre_archivo in enumerate(nombres_archivos):
    ruta_archivo = ruta_datos + nombre_archivo
    nombre_rec = "rec_" + str(i + 1)
    nombre_etiquetas_variables = nombres_etiquetas_variables[i]
    nombre_etiquetas_valores = nombres_etiquetas_valores[i]

# Importamos datos
    datos, metadatos = pyreadstat.read_sav(ruta_archivo)

# Asignamos etiquetas de variables y valores
    globals()[nombre_rec] = datos
    globals()[nombre_etiquetas_variables] = metadatos.column_names_to_labels
    globals()[nombre_etiquetas_valores] = metadatos.variable_to_label

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [38]:
# Seleccionamos columnas para cada conjunto de datos
columns_rec1 = ["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]
columns_rec2 = ["CASEID", "V201", "V218", "V301", "V302", "V323", "V323A", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"]
columns_rec3 = ["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]

# Actualizamos objetos de etiquetas de variables y valores
new_var_labels1 = {col: var_labels1.get(col, None) for col in columns_rec1}
new_value_labels1 = {col: value_labels1.get(col, None) for col in columns_rec1}

new_var_labels2 = {col: var_labels2.get(col, None) for col in columns_rec2}
new_value_labels2 = {col: value_labels2.get(col, None) for col in columns_rec2}

new_var_labels3 = {col: var_labels3.get(col, None) for col in columns_rec3}
new_value_labels3 = {col: value_labels3.get(col, None) for col in columns_rec3}

# Creamos nuevos DataFrames con las columnas seleccionadas
rec1_1 = rec_1.loc[:, columns_rec1]
rec2_1 = rec_2.loc[:, columns_rec2]
rec3_1 = rec_3.loc[:, columns_rec3]

In [39]:
rec1_1 
rec2_1 
rec3_1

,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,325406201 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
33307,325406301 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
33308,325407001 2,2.0,1.0,1.0,1.0,NaN,NaN,11.0,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
33309,325407201 2,2.0,1.0,1.0,1.0,NaN,NaN,5.0,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
33310,325407401 2,2.0,1.0,1.0,1.0,NaN,NaN,6.0,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [40]:
# Agregamos una nueva columna llamada 'year' a rec1_1 con todos los valores del 2019
rec1_1['year'] = 2019

# Actualizamos el diccionario de etiquetas de variables para incluir la nueva columna 'year'
new_var_labels1.update({'year': 'Year of the survey'})

# Mostrar las primeras filas de rec1_1 con la nueva columna 'year'
print(rec1_1.head())

               CASEID V000  V001  V002  V003  V004    V007    V008  V009  \
0        000100201  2  PE6   1.0   2.0   2.0   1.0  2019.0  1434.0   4.0
1        000100201  3  PE6   1.0   2.0   3.0   1.0  2019.0  1434.0   1.0
2        000102801  2  PE6   1.0  28.0   2.0   1.0  2019.0  1434.0   6.0
3        000102801  6  PE6   1.0  28.0   6.0   1.0  2019.0  1434.0   3.0
4        000104801  2  PE6   1.0  48.0   2.0   1.0  2019.0  1434.0   5.0

     V010  ...  V102  V120  V121  V122  V123  V124  V125  V127  V133  year
0  1986.0  ...   1.0   1.0   1.0   1.0   0.0   0.0   0.0  33.0  16.0  2019
1  2007.0  ...   1.0   1.0   1.0   1.0   0.0   0.0   0.0  33.0   6.0  2019
2  1983.0  ...   1.0   1.0   1.0   1.0   1.0   1.0   1.0  33.0  16.0  2019
3  1970.0  ...   1.0   1.0   1.0   1.0   1.0   1.0   1.0  33.0   4.0  2019
4  1991.0  ...   1.0   0.0   0.0   0.0   0.0   0.0   0.0  34.0   1.0  2019

[5 rows x 23 columns]

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**