In [48]:
import os
import pandas as pd

# Define the directory path
directory_path = "/Users/ar8787/Dropbox/DATA_COLOMBIA_ACTUALIZADA"

# Get a list of all files in the directory
file_list = os.listdir(directory_path)

# Filter the list to include only Excel files (assuming they have the '.xlsx' extension)
excel_files = [file for file in file_list if file.endswith('.xlsx')]

# Initialize an empty list to store the data from each Excel file
data_frames = []

# Loop through the Excel files and read them into Pandas DataFrames
for file in excel_files:
    
    if "~$" not in file:
        file_path = os.path.join(directory_path, file)
        df = pd.read_excel(file_path,engine='openpyxl', sheet_name="Results")
        data_frames.append(df)

# Now, data_frames contains a list of Pandas DataFrames, each representing an Excel file
# You can access and manipulate the data from these DataFrames as needed.

In [49]:
df_final = pd.concat( data_frames ).reset_index(drop=True)

In [73]:
df_final_clean = df_final[ ~(df_final['BvD ID number'].isnull()) ].copy()

In [81]:
df_final_clean['BvD ID number'] = df_final_clean['BvD ID number'].replace('C0', "CO" )

In [106]:
bvd_id = df_final['BvD ID number'].tolist()

In [130]:
df_final_clean['National ID'] = df_final_clean['National ID'].astype(float)

In [154]:
df_final_clean[ 'VAT/Tax number'] = df_final_clean[ 'VAT/Tax number'].astype(float)

In [142]:
df_final_clean.columns.tolist()

['Unnamed: 0',
 'Company name Latin alphabet',
 'Inactive',
 'Quoted',
 'Branch',
 'OwnData',
 'Woco',
 'Country ISO code',
 'NACE Rev. 2, core code (4 digits)',
 'Consolidation code',
 'Last avail. year',
 'Operating revenue (Turnover)\nth USD Last avail. yr',
 'Number of employees\nLast avail. yr',
 'Operating revenue (Turnover)\nth LCU 2023',
 'Operating revenue (Turnover)\nth LCU 2022',
 'Operating revenue (Turnover)\nth LCU 2021',
 'Operating revenue (Turnover)\nth LCU 2020',
 'Operating revenue (Turnover)\nth LCU 2019',
 'Operating revenue (Turnover)\nth LCU 2018',
 'Operating revenue (Turnover)\nth LCU 2017',
 'Operating revenue (Turnover)\nth LCU 2016',
 'Operating revenue (Turnover)\nth LCU 2015',
 'Operating revenue (Turnover)\nth LCU 2014',
 'Operating revenue (Turnover)\nth LCU 2013',
 'Operating revenue (Turnover)\nth LCU 2012',
 'Operating revenue (Turnover)\nth LCU 2011',
 'P/L before tax\nth LCU 2023',
 'P/L before tax\nth LCU 2022',
 'P/L before tax\nth LCU 2021',
 'P/L before tax\nth LCU 2020',
 'P/L before tax\nth LCU 2019',
 'P/L before tax\nth LCU 2018',
 'P/L before tax\nth LCU 2017',
 'P/L before tax\nth LCU 2016',
 'P/L before tax\nth LCU 2015',
 'P/L before tax\nth LCU 2014',
 'P/L before tax\nth LCU 2013',
 'P/L before tax\nth LCU 2012',
 'P/L before tax\nth LCU 2011',
 'P/L for period [=Net income]\nth LCU 2023',
 'P/L for period [=Net income]\nth LCU 2022',
 'P/L for period [=Net income]\nth LCU 2021',
 'P/L for period [=Net income]\nth LCU 2020',
 'P/L for period [=Net income]\nth LCU 2019',
 'P/L for period [=Net income]\nth LCU 2018',
 'P/L for period [=Net income]\nth LCU 2017',
 'P/L for period [=Net income]\nth LCU 2016',
 'P/L for period [=Net income]\nth LCU 2015',
 'P/L for period [=Net income]\nth LCU 2014',
 'P/L for period [=Net income]\nth LCU 2013',
 'P/L for period [=Net income]\nth LCU 2012',
 'P/L for period [=Net income]\nth LCU 2011',
 'Cash flow [Net Income before D&A]\nth LCU 2023',
 'Cash flow [Net Income before D&A]\nth LCU 2022',
 'Cash flow [Net Income before D&A]\nth LCU 2021',
 'Cash flow [Net Income before D&A]\nth LCU 2020',
 'Cash flow [Net Income before D&A]\nth LCU 2019',
 'Cash flow [Net Income before D&A]\nth LCU 2018',
 'Cash flow [Net Income before D&A]\nth LCU 2017',
 'Cash flow [Net Income before D&A]\nth LCU 2016',
 'Cash flow [Net Income before D&A]\nth LCU 2015',
 'Cash flow [Net Income before D&A]\nth LCU 2014',
 'Cash flow [Net Income before D&A]\nth LCU 2013',
 'Cash flow [Net Income before D&A]\nth LCU 2012',
 'Cash flow [Net Income before D&A]\nth LCU 2011',
 'Total assets\nth LCU 2023',
 'Total assets\nth LCU 2022',
 'Total assets\nth LCU 2021',
 'Total assets\nth LCU 2020',
 'Total assets\nth LCU 2019',
 'Total assets\nth LCU 2018',
 'Total assets\nth LCU 2017',
 'Total assets\nth LCU 2016',
 'Total assets\nth LCU 2015',
 'Total assets\nth LCU 2014',
 'Total assets\nth LCU 2013',
 'Total assets\nth LCU 2012',
 'Total assets\nth LCU 2011',
 'Shareholders funds\nth LCU 2023',
 'Shareholders funds\nth LCU 2022',
 'Shareholders funds\nth LCU 2021',
 'Shareholders funds\nth LCU 2020',
 'Shareholders funds\nth LCU 2019',
 'Shareholders funds\nth LCU 2018',
 'Shareholders funds\nth LCU 2017',
 'Shareholders funds\nth LCU 2016',
 'Shareholders funds\nth LCU 2015',
 'Shareholders funds\nth LCU 2014',
 'Shareholders funds\nth LCU 2013',
 'Shareholders funds\nth LCU 2012',
 'Shareholders funds\nth LCU 2011',
 'Current ratio\n2023',
 'Current ratio\n2022',
 'Current ratio\n2021',
 'Current ratio\n2020',
 'Current ratio\n2019',
 'Current ratio\n2018',
 'Current ratio\n2017',
 'Current ratio\n2016',
 'Current ratio\n2015',
 'Current ratio\n2014',
 'Current ratio\n2013',
 'Current ratio\n2012',
 'Current ratio\n2011',
 'Profit margin\n2023',
 'Profit margin\n2022',
 'Profit margin\n2021',
 'Profit margin\n2020',
 'Profit margin\n2019',
 'Profit margin\n2018',
 'Profit margin\n2017',
 'Profit margin\n2016',
 'Profit margin\n2015',
 'Profit margin\n2014',
 'Profit margin\n2013',
 'Profit margin\n2012',
 'Profit margin\n2011',
 'ROE using P/L before tax\n2023',
 'ROE using P/L before tax\n2022',
 'ROE using P/L before tax\n2021',
 'ROE using P/L before tax\n2020',
 'ROE using P/L before tax\n2019',
 'ROE using P/L before tax\n2018',
 'ROE using P/L before tax\n2017',
 'ROE using P/L before tax\n2016',
 'ROE using P/L before tax\n2015',
 'ROE using P/L before tax\n2014',
 'ROE using P/L before tax\n2013',
 'ROE using P/L before tax\n2012',
 'ROE using P/L before tax\n2011',
 'ROCE using P/L before tax\n2023',
 'ROCE using P/L before tax\n2022',
 'ROCE using P/L before tax\n2021',
 'ROCE using P/L before tax\n2020',
 'ROCE using P/L before tax\n2019',
 'ROCE using P/L before tax\n2018',
 'ROCE using P/L before tax\n2017',
 'ROCE using P/L before tax\n2016',
 'ROCE using P/L before tax\n2015',
 'ROCE using P/L before tax\n2014',
 'ROCE using P/L before tax\n2013',
 'ROCE using P/L before tax\n2012',
 'ROCE using P/L before tax\n2011',
 'Solvency ratio (Asset based)\n2023',
 'Solvency ratio (Asset based)\n2022',
 'Solvency ratio (Asset based)\n2021',
 'Solvency ratio (Asset based)\n2020',
 'Solvency ratio (Asset based)\n2019',
 'Solvency ratio (Asset based)\n2018',
 'Solvency ratio (Asset based)\n2017',
 'Solvency ratio (Asset based)\n2016',
 'Solvency ratio (Asset based)\n2015',
 'Solvency ratio (Asset based)\n2014',
 'Solvency ratio (Asset based)\n2013',
 'Solvency ratio (Asset based)\n2012',
 'Solvency ratio (Asset based)\n2011',
 'Number of employees\n2023',
 'Number of employees\n2022',
 'Number of employees\n2021',
 'Number of employees\n2020',
 'Number of employees\n2019',
 'Number of employees\n2018',
 'Number of employees\n2017',
 'Number of employees\n2016',
 'Number of employees\n2015',
 'Number of employees\n2014',
 'Number of employees\n2013',
 'Number of employees\n2012',
 'Number of employees\n2011',
 'BvD ID number',
 'BvD account number',
 'Orbis ID number',
 'National ID',
 'National ID label',
 'National ID type',
 'Trade register number',
 'VAT/Tax number',
 'European VAT number',
 'ESCB Financial Vehicle Corporation ID',
 'ESCB Monetary Financial Institution ID',
 'Tax Identification Number (TIN)',
 'LEI (Legal Entity Identifier)',
 'Statistical number',
 'Other company ID number',
 'Previous SIRET number (France)',
 'Previous SIRET number date (France)',
 'SWIFT_CODE',
 'Information provider ID',
 'Information provider ID label',
 'Ticker symbol',
 'ISIN number',
 'ISIN number (All)']

In [85]:
df_real = pd.read_excel('/Users/ar8787/Downloads/firms_id.xlsx')

In [199]:
df_real = pd.read_stata('/Users/ar8787/Downloads/firms_id.dta')

In [200]:
df_real

       national_id_number bvd_id_number vat_tax_number
0            7.219716e+06     CO7219716        7219716
1            6.002636e+07    CO60026365       60026365
2            6.003730e+07    CO60037304       60037304
3            8.909370e+07    CO89093704       89093704
4            8.909029e+08   CO890902875      890902875
...                   ...           ...            ...
82746        9.013254e+09  CO9013253632     9013253632
82747        9.013255e+09  CO9013255116     9013255116
82748        9.013257e+09  CO9013257144     9013257144
82749        9.013262e+09  CO9013261813     9013261813
82750        9.013295e+09  CO9013295415     9013295415

[82751 rows x 3 columns]

In [108]:
df_real['bvd_id_number'] = df_real['bvd_id_number'].str.replace('  ', '')

In [112]:
bvd_detected = df_real[df_real.bvd_id_number.isin(bvd_id)]['bvd_id_number'].tolist()

In [118]:
df_real[df_real.bvd_id_number == 'CO170030031470']

Empty DataFrame
Columns: [national_id_number, bvd_id_number, vat_tax_number]
Index: []

In [159]:
df_real['vat_tax_number'] = df_real['vat_tax_number'].astype(float)

In [134]:
df2 = df_real.merge( df_final_clean, left_on = 'national_id_number', right_on = 'National ID', indicator = True, how = 'left')

In [202]:
df2.to_csv("/Users/ar8787/Downloads/firms_merge.csv")

In [140]:
df3_left = df2[df2._merge == 'left_only'].iloc[:, 0:3]

In [161]:
df3_left['vat_tax_number'] = df3_left['vat_tax_number'].astype(float)

In [174]:
df3_left.bvd_id_number = df3_left.bvd_id_number.astype(str)

In [186]:
df_final_clean['BvD ID number']=df_final_clean['BvD ID number'].astype(str)

In [198]:
df3_left.to_csv('/Users/ar8787/Downloads/firms_id_2.csv')

In [55]:
total_bvd = df_real['bvd_id_number'].tolist()

In [56]:
list_rest = list(set(total_bvd).difference(bvd_id))

In [ ]:
bvd_id

In [58]:
df_real.shape

(82751, 3)

       national_id_number bvd_id_number vat_tax_number
0            7.219716e+06     CO7219716        7219716
1            6.002636e+07    CO60026365       60026365
2            6.003730e+07    CO60037304       60037304
3            8.909370e+07    CO89093704       89093704
4            8.909029e+08   CO890902875      890902875
...                   ...           ...            ...
82746        9.013254e+09  CO9013253632     9013253632
82747        9.013255e+09  CO9013255116     9013255116
82748        9.013257e+09  CO9013257144     9013257144
82749        9.013262e+09  CO9013261813     9013261813
82750        9.013295e+09  CO9013295415     9013295415

[82610 rows x 3 columns]