# Assignment 4

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.
2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
4. Generate a dictionary with the definition of all the columns in your dataset.
5. Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.

# Step 1

In [38]:
import pandas as pd

In [39]:
file_path = 'C:/Users/ext-amardini/Documents/Abraham/MediaLab_PUCP/_data/bogota_firms.xlsx'
df = pd.read_excel(file_path)
descriptive_statistics = df.describe()
print (descriptive_statistics)

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/ext-amardini/Documents/Abraham/MediaLab_PUCP/_data/bogota_firms.xlsx'

# Step 2

Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.

In [ ]:
excel_path = "C:/Users/zuale/Documents/GitHub/MediaLab_PUCP/_data/bogota_firms.xlsx"
sheet_name = 'Results'  

# Read the Excel file into a DataFrame
df = pd.read_excel(excel_path, sheet_name=sheet_name)
print(df.head(5))

In [ ]:
print(df.columns)

In [ ]:
#We need to select specific columns of the DataFrame by their positions
selected_columns = df.iloc[:, [1] + list(range(6, 33))]

#The we create a new DataFrame with the selected columns
selected_df = selected_columns

#We print the new DataFrame
print(selected_df)

In [ ]:
#With that selected DataFrame we reshape it from wide to a long format
df_long = pd.melt( selected_df, id_vars=["Last avail. year", "Company name Latin alphabet"],
                 var_name="Variable",
                 value_name="Value"
                 )
#After we have our long DataFrame we sorted by "Last avail.year"
df_long_sorted = df_long.sort_values(by="Last avail. year")

#We print the DataFrame sorted
print(df_long_sorted)

In [ ]:
print(df_long_sorted.head(2))

In [ ]:
df_long_sorted = df_long
print(df_long.head(2))

In [ ]:
#Now that we have our long and sorted DataFrame we have to drop columns if they are in Dollars (USD)
#We use a filter to drop the rows where the now "Variable" contains USD/Dollars
df_long_filtered = df_long[~df_long["Variable"].str.contains("USD")]

#We use the reset index method to reset the index of DataFrame
df_long_filtered_reset = df_long_filtered.reset_index(drop=True)
#We print the long and filtered DataFrame
print(df_long_filtered_reset)

In [ ]:
print(df_long_filtered_reset.head(2))

# Step 3

In [150]:
#We need to select specific columns of the DataFrame by their positions
selected_columns = df.iloc[:, [1] + list(range(6, 33))]
# Import pandas library
import pandas as pd
import pandas as pd

# Read the dataset from the 'Results' sheet
excel_path = r"D:\Documents\MediaLab_PUCP\_data\bogota_firms.xlsx"
sheet_nm = 'Results'
df = pd.read_excel(excel_path, sheet_nm)
print(df.head(3))

# Rename columns using the mapping
df.rename(columns={"Operating revenue (Turnover) th LCU 2023": "Revenue_LCU_2023",
    "Operating revenue (Turnover) th USD 2023": "Revenue_USD_2023",
    "Operating revenue (Turnover) th LCU 2022": "Revenue_LCU_2022",
    "Operating revenue (Turnover) th USD 2022": "Revenue_USD_2022",
    "Operating revenue (Turnover) th LCU 2021": "Revenue_LCU_2021",
    "Operating revenue (Turnover) th USD 2021": "Revenue_USD_2021",
    "Operating revenue (Turnover) th LCU 2020": "Revenue_LCU_2020",
    "Operating revenue (Turnover) th USD 2020": "Revenue_USD_2020",
    "Operating revenue (Turnover) th LCU 2019": "Revenue_LCU_2019",
    "Operating revenue (Turnover) th USD 2019": "Revenue_USD_2019",
    "Operating revenue (Turnover) th LCU 2018": "Revenue_LCU_2018",
    "Operating revenue (Turnover) th USD 2018": "Revenue_USD_2018",
    "Operating revenue (Turnover) th LCU 2017": "Revenue_LCU_2017",
    "Operating revenue (Turnover) th USD 2017": "Revenue_USD_2017",
    "Operating revenue (Turnover) th LCU 2016": "Revenue_LCU_2016",
    "Operating revenue (Turnover) th USD 2016": "Revenue_USD_2016",
    "Operating revenue (Turnover) th LCU 2015": "Revenue_LCU_2015",
    "Operating revenue (Turnover) th USD 2015": "Revenue_USD_2015",
    "Operating revenue (Turnover) th LCU 2014": "Revenue_LCU_2014",
    "Operating revenue (Turnover) th USD 2014": "Revenue_USD_2014",
    "Operating revenue (Turnover) th LCU 2013": "Revenue_LCU_2013",
    "Operating revenue (Turnover) th USD 2013": "Revenue_USD_2013",
    "Operating revenue (Turnover) th LCU 2012": "Revenue_LCU_2012",
    "Operating revenue (Turnover) th USD 2012": "Revenue_USD_2012",
    "Operating revenue (Turnover) th LCU 2011": "Revenue_LCU_2011",
    "Operating revenue (Turnover) th USD 2011": "Revenue_USD_2011"}, inplace=True)

# Print the updated DataFrame
print(df)

   Unnamed: 0                        Company name Latin alphabet  \
0         1.0  CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...
1         2.0              AGRET CARGA NACIONAL Y ESPECIAL S A S
2         3.0                           DINASTIA INVERSIONES S A

  Country ISO code City\nLatin Alphabet  NACE Rev. 2, core code (4 digits)  \
0               CO                 CALI                             4299.0
1               CO               BOGOTA                             4941.0
2               CO         BARRANQUILLA                             4771.0

  Consolidation code  Last avail. year  \
0                 U1              2022
1                 U1              2022
2                 U1              2007

  Operating revenue (Turnover)\nth LCU 2023  \
0                                      n.a.
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth USD 2023  \
0                                      n.a.
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth LCU 2022  ...  \
0                                   4769810  ...
1                               4769796.503  ...
2                                      n.a.  ...

  Operating revenue (Turnover)\nth LCU 2015  \
0                                  58155914
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth USD 2015  \
0                              18465.301699
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth LCU 2014  \
0                                  51813164
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth USD 2014  \
0                              21656.856573
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth LCU 2013  \
0                                  23800831
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth USD 2013  \
0                              12379.759862
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth LCU 2012  \
0                                      n.a.
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth USD 2012  \
0                                      n.a.
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth LCU 2011  \
0                                      n.a.
1                                      n.a.
2                                      n.a.

  Operating revenue (Turnover)\nth USD 2011
0                                      n.a.
1                                      n.a.
2                                      n.a.

[3 rows x 33 columns]
      Unnamed: 0                        Company name Latin alphabet  \
0            1.0  CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...
1            2.0              AGRET CARGA NACIONAL Y ESPECIAL S A S
2            3.0                           DINASTIA INVERSIONES S A
3            4.0                       BACKBONE COMUNICACIONES LTDA
4            5.0                                MACAOL ESPINOSA SAS
...          ...                                                ...
9995      9996.0                                     GRADISPAN LTDA
9996      9997.0    CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S
9997      9998.0                         JOSHUA CAFE IRLANDES S A S
9998      9999.0                    PROYECTO AGUAS DEL BOSQUE S A S
9999     10000.0                      GRUPO INVERSIONES SYNERGY SAS

     Country ISO code City\nLatin Alphabet  NACE Rev. 2, core code (4 digits)  \
0                  CO                 CALI                             4299.0
1                  CO               BOGOTA                             4941.0
2                  CO         BARRANQUILLA                             4771.0
3                  CO               BOGOTA                             6190.0
4                  CO               BOGOTA                             6820.0
...               ...                  ...                                ...
9995               CO               BOGOTA                             4631.0
9996               CO               BOGOTA                             6920.0
9997               CO               BOGOTA                             5610.0
9998               CO             MEDELLIN                             4110.0
9999               CO              POPAYAN                             4110.0

     Consolidation code  Last avail. year  \
0                    U1              2022
1                    U1              2022
2                    U1              2007
3                    U1              2022
4                    U1              2022
...                 ...               ...
9995                 U1              2011
9996                 U1              2022
9997                 U1              2018
9998                 U1              2021
9999                 U1              2020

     Operating revenue (Turnover)\nth LCU 2023  \
0                                         n.a.
1                                         n.a.
2                                         n.a.
3                                         n.a.
4                                         n.a.
...                                        ...
9995                                      n.a.
9996                                      n.a.
9997                                      n.a.
9998                                      n.a.
9999                                      n.a.

     Operating revenue (Turnover)\nth USD 2023  \
0                                         n.a.
1                                         n.a.
2                                         n.a.
3                                         n.a.
4                                         n.a.
...                                        ...
9995                                      n.a.
9996                                      n.a.
9997                                      n.a.
9998                                      n.a.
9999                                      n.a.

     Operating revenue (Turnover)\nth LCU 2022  ...  \
0                                      4769810  ...
1                                  4769796.503  ...
2                                         n.a.  ...
3                                  4769348.616  ...
4                                      4769148  ...
...                                        ...  ...
9995                                      n.a.  ...
9996                               3736339.155  ...
9997                                      n.a.  ...
9998                                      n.a.  ...
9999                                      n.a.  ...

     Operating revenue (Turnover)\nth LCU 2015  \
0                                     58155914
1                                         n.a.
2                                         n.a.
3                                      1170331
4                                       165799
...                                        ...
9995                                      n.a.
9996                               1012683.301
9997                                      n.a.
9998                                      n.a.
9999                               136867.8004

     Operating revenue (Turnover)\nth USD 2015  \
0                                 18465.301699
1                                         n.a.
2                                         n.a.
3                                   371.596172
4                                     52.64346
...                                        ...
9995                                      n.a.
9996                                321.540861
9997                                      n.a.
9998                                      n.a.
9999                                 43.457407

     Operating revenue (Turnover)\nth LCU 2014  \
0                                     51813164
1                                         n.a.
2                                         n.a.
3                                   874868.654
4                                       303235
...                                        ...
9995                                      n.a.
9996                               1032912.114
9997                               1827067.154
9998                                      n.a.
9999                                      n.a.

     Operating revenue (Turnover)\nth USD 2014  \
0                                 21656.856573
1                                         n.a.
2                                         n.a.
3                                   365.677436
4                                   126.746108
...                                        ...
9995                                      n.a.
9996                                431.736412
9997                                763.677186
9998                                      n.a.
9999                                      n.a.

     Operating revenue (Turnover)\nth LCU 2013  \
0                                     23800831
1                                         n.a.
2                                         n.a.
3                                       532706
4                                       245349
...                                        ...
9995                                      n.a.
9996                                920263.426
9997                                   1353686
9998                                      n.a.
9999                                      n.a.

     Operating revenue (Turnover)\nth USD 2013  \
0                                 12379.759862
1                                         n.a.
2                                         n.a.
3                                   277.081601
4                                   127.615784
...                                        ...
9995                                      n.a.
9996                                478.665649
9997                                704.105987
9998                                      n.a.
9999                                      n.a.

     Operating revenue (Turnover)\nth LCU 2012  \
0                                         n.a.
1                                         n.a.
2                                         n.a.
3                                         n.a.
4                                         n.a.
...                                        ...
9995                                      n.a.
9996                                      n.a.
9997                                    880349
9998                                      n.a.
9999                                      n.a.

     Operating revenue (Turnover)\nth USD 2012  \
0                                         n.a.
1                                         n.a.
2                                         n.a.
3                                         n.a.
4                                         n.a.
...                                        ...
9995                                      n.a.
9996                                      n.a.
9997                                496.939939
9998                                      n.a.
9999                                      n.a.

     Operating revenue (Turnover)\nth LCU 2011  \
0                                         n.a.
1                                         n.a.
2                                         n.a.
3                                         n.a.
4                                         n.a.
...                                        ...
9995                                   1509000
9996                                      n.a.
9997                                    293967
9998                                      n.a.
9999                                      n.a.

     Operating revenue (Turnover)\nth USD 2011
0                                         n.a.
1                                         n.a.
2                                         n.a.
3                                         n.a.
4                                         n.a.
...                                        ...
9995                                776.754003
9996                                      n.a.
9997                                151.318783
9998                                      n.a.
9999                                      n.a.

[10000 rows x 33 columns]

# Step 4

In [140]:
# Import pandas library
import pandas as pd

# Read the dataset
df = pd.read_excel(r"D:\Documents\MediaLab_PUCP\_data\bogota_firms.xlsx")

# Define a dictionary of column definitions
col_dict = {
    "Name of the firm": "The name of the company or organization",
"Revenue_LCU_2023": "The operating revenue (turnover) in thousands of local currency units in 2023",
"Revenue_USD_2023": "The operating revenue (turnover) in thousands of dollars in 2023",
"Revenue_LCU_2022": "The operating revenue (turnover) in thousands of local currency units in 2022",
"Revenue_USD_2022": "The operating revenue (turnover) in thousands of dollars in 2022",
"Revenue_LCU_2021": "The operating revenue (turnover) in thousands of local currency units in 2021",
"Revenue_USD_2021": "The operating revenue (turnover) in thousands of dollars in 2021",
"Revenue_LCU_2020": "The operating revenue (turnover) in thousands of local currency units in 2020",
"Revenue_USD_2020": "The operating revenue (turnover) in thousands of dollars in 2020",
"Revenue_LCU_2019": "The operating revenue (turnover) in thousands of local currency units in 2019",
"Revenue_USD_2019": "The operating revenue (turnover) in thousands of dollars in 2019",
"Revenue_LCU_2018": "The operating revenue (turnover) in thousands of local currency units in 2018",
"Revenue_USD_2018": "The operating revenue (turnover) in thousands of dollars in 2018",
"Revenue_LCU_2017": "The operating revenue (turnover) in thousands of local currency units in 2017",
"Revenue_USD_2017": "The operating revenue (turnover) in thousands of dollars in 2017",
"Revenue_LCU_2016": "The operating revenue (turnover) in thousands of local currency units in 2016",
"Revenue_USD_2016": "The operating revenue (turnover) in thousands of dollars in 2016",
"Revenue_LCU_2015": "The operating revenue (turnover) in thousands of local currency units in 2015",
"Revenue_USD_2015": "The operating revenue (turnover) in thousands of dollars in 2015",
"Revenue_LCU_2014": "The operating revenue (turnover) in thousands of local currency units in 2014",
"Revenue_USD_2014": "The operating revenue (turnover) in thousands of dollars in 2014",
"Revenue_LCU_2013": "The operating revenue (turnover) in thousands of local currency units in 2013",
"Revenue_USD_2013": "The operating revenue (turnover) in thousands of dollars in 2013",
"Revenue_LCU_2012": "The operating revenue (turnover) in thousands of local currency units in 2012",
"Revenue_USD_2012": "The operating revenue (turnover) in thousands of dollars in 2012",
"Revenue_LCU_2011": "The operating revenue (turnover) in thousands of local currency units in 2011",
"Revenue_USD_2011": "The operating revenue (turnover) in thousands of dollars in 2011"

}

# Print the dictionary
print(col_dict)

{'Name of the firm': 'The name of the company or organization', 'Revenue_LCU_2023': 'The operating revenue (turnover) in thousands of local currency units in 2023', 'Revenue_USD_2023': 'The operating revenue (turnover) in thousands of dollars in 2023', 'Revenue_LCU_2022': 'The operating revenue (turnover) in thousands of local currency units in 2022', 'Revenue_USD_2022': 'The operating revenue (turnover) in thousands of dollars in 2022', 'Revenue_LCU_2021': 'The operating revenue (turnover) in thousands of local currency units in 2021', 'Revenue_USD_2021': 'The operating revenue (turnover) in thousands of dollars in 2021', 'Revenue_LCU_2020': 'The operating revenue (turnover) in thousands of local currency units in 2020', 'Revenue_USD_2020': 'The operating revenue (turnover) in thousands of dollars in 2020', 'Revenue_LCU_2019': 'The operating revenue (turnover) in thousands of local currency units in 2019', 'Revenue_USD_2019': 'The operating revenue (turnover) in thousands of dollars in 2019', 'Revenue_LCU_2018': 'The operating revenue (turnover) in thousands of local currency units in 2018', 'Revenue_USD_2018': 'The operating revenue (turnover) in thousands of dollars in 2018', 'Revenue_LCU_2017': 'The operating revenue (turnover) in thousands of local currency units in 2017', 'Revenue_USD_2017': 'The operating revenue (turnover) in thousands of dollars in 2017', 'Revenue_LCU_2016': 'The operating revenue (turnover) in thousands of local currency units in 2016', 'Revenue_USD_2016': 'The operating revenue (turnover) in thousands of dollars in 2016', 'Revenue_LCU_2015': 'The operating revenue (turnover) in thousands of local currency units in 2015', 'Revenue_USD_2015': 'The operating revenue (turnover) in thousands of dollars in 2015', 'Revenue_LCU_2014': 'The operating revenue (turnover) in thousands of local currency units in 2014', 'Revenue_USD_2014': 'The operating revenue (turnover) in thousands of dollars in 2014', 'Revenue_LCU_2013': 'The operating revenue (turnover) in thousands of local currency units in 2013', 'Revenue_USD_2013': 'The operating revenue (turnover) in thousands of dollars in 2013', 'Revenue_LCU_2012': 'The operating revenue (turnover) in thousands of local currency units in 2012', 'Revenue_USD_2012': 'The operating revenue (turnover) in thousands of dollars in 2012', 'Revenue_LCU_2011': 'The operating revenue (turnover) in thousands of local currency units in 2011', 'Revenue_USD_2011': 'The operating revenue (turnover) in thousands of dollars in 2011'}