# Assignment 4

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.
2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
4. Generate a dictionary with the definition of all the columns in your dataset.
5. Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.

***Excercise 1*** Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.

In [2]:
import pandas as pd

#importamos los datos desde el excel y especificamos con la funcion sheet_name que hija del excel queremos analizar.
datos = pd.read_excel(r'/Users/mlagunas/Documents/GitHub/MediaLab_PUCP/_data/bogota_firms.xlsx', sheet_name = 'Results' )

# Muestra las primeras filas del DataFrame para verificar la carga
datos

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
0,1.0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,CO,CALI,4299.0,U1,2022,n.a.,n.a.,4769810,...,58155914,18465.301699,51813164,21656.856573,23800831,12379.759862,n.a.,n.a.,n.a.,n.a.
1,2.0,AGRET CARGA NACIONAL Y ESPECIAL S A S,CO,BOGOTA,4941.0,U1,2022,n.a.,n.a.,4769796.503,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,3.0,DINASTIA INVERSIONES S A,CO,BARRANQUILLA,4771.0,U1,2007,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,BACKBONE COMUNICACIONES LTDA,CO,BOGOTA,6190.0,U1,2022,n.a.,n.a.,4769348.616,...,1170331,371.596172,874868.654,365.677436,532706,277.081601,n.a.,n.a.,n.a.,n.a.
4,5.0,MACAOL ESPINOSA SAS,CO,BOGOTA,6820.0,U1,2022,n.a.,n.a.,4769148,...,165799,52.64346,303235,126.746108,245349,127.615784,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996.0,GRADISPAN LTDA,CO,BOGOTA,4631.0,U1,2011,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,1509000,776.754003
9996,9997.0,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,CO,BOGOTA,6920.0,U1,2022,n.a.,n.a.,3736339.155,...,1012683.301,321.540861,1032912.114,431.736412,920263.426,478.665649,n.a.,n.a.,n.a.,n.a.
9997,9998.0,JOSHUA CAFE IRLANDES S A S,CO,BOGOTA,5610.0,U1,2018,n.a.,n.a.,n.a.,...,n.a.,n.a.,1827067.154,763.677186,1353686,704.105987,880349,496.939939,293967,151.318783
9998,9999.0,PROYECTO AGUAS DEL BOSQUE S A S,CO,MEDELLIN,4110.0,U1,2021,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
9999,10000.0,GRUPO INVERSIONES SYNERGY SAS,CO,POPAYAN,4110.0,U1,2020,n.a.,n.a.,n.a.,...,136867.8004,43.457407,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [2]:
import pandas as pd

file_path = '/Users/claupq/Documents/MediaLabPUCP/_data/bogota_firms.xlsx'

# read DataFrame from 'Search summary'
df_search_summary = pd.read_excel(file_path, sheet_name='Search summary')

# read the DataFrame from'Results'
df_results = pd.read_excel(file_path, sheet_name='Results')

# show descriptive statistics on 'Search summary'
display("\nEstadísticas descriptivas de la hoja 'Search summary':")
display(df_search_summary.describe())

# Show descriptive statistics on 'Results'
display("\nEstadísticas descriptivas de la hoja 'Results':")
display(df_results.describe())

"\nEstadísticas descriptivas de la hoja 'Search summary':"

,List export,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
count,23,9,2,3,4,3
unique,23,9,2,3,4,3
top,Product name,Orbis,31/03,"Active companies, Unknown situation",Step result,Search result
freq,1,1,1,1,1,1

"\nEstadísticas descriptivas de la hoja 'Results':"

        Unnamed: 0  NACE Rev. 2, core code (4 digits)  Last avail. year
count  10000.00000                        9650.000000      10000.000000
mean    5000.50000                        4842.839482       2020.296500
std     2886.89568                        2167.757574          3.672947
min        1.00000                         100.000000       2005.000000
25%     2500.75000                        4299.000000       2021.000000
50%     5000.50000                        4690.000000       2022.000000
75%     7500.25000                        6120.000000       2022.000000
max    10000.00000                        9609.000000       2023.000000

***Excercise 2*** Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.

In [3]:
import pandas as pd

file_path = '/Users/claupq/Documents/MediaLabPUCP/_data/bogota_firms.xlsx'

# Read the Excel file and retrieve the column names from the 'Results' sheet
df = pd.read_excel(file_path, sheet_name='Results')

# Show the names of the columns
column_names = df.columns.tolist()
print("Nombres de las columnas en la hoja 'Results':")
display(column_names)

Nombres de las columnas en la hoja 'Results':

['Unnamed: 0',
 'Company name Latin alphabet',
 'Country ISO code',
 'City\nLatin Alphabet',
 'NACE Rev. 2, core code (4 digits)',
 'Consolidation code',
 'Last avail. year',
 'Operating revenue (Turnover)\nth LCU 2023',
 'Operating revenue (Turnover)\nth USD 2023',
 'Operating revenue (Turnover)\nth LCU 2022',
 'Operating revenue (Turnover)\nth USD 2022',
 'Operating revenue (Turnover)\nth LCU 2021',
 'Operating revenue (Turnover)\nth USD 2021',
 'Operating revenue (Turnover)\nth LCU 2020',
 'Operating revenue (Turnover)\nth USD 2020',
 'Operating revenue (Turnover)\nth LCU 2019',
 'Operating revenue (Turnover)\nth USD 2019',
 'Operating revenue (Turnover)\nth LCU 2018',
 'Operating revenue (Turnover)\nth USD 2018',
 'Operating revenue (Turnover)\nth LCU 2017',
 'Operating revenue (Turnover)\nth USD 2017',
 'Operating revenue (Turnover)\nth LCU 2016',
 'Operating revenue (Turnover)\nth USD 2016',
 'Operating revenue (Turnover)\nth LCU 2015',
 'Operating revenue (Turnover)\nth USD 2015',
 'Operating revenue (Turnover)\nth LCU 2014',
 'Operating revenue (Turnover)\nth USD 2014',
 'Operating revenue (Turnover)\nth LCU 2013',
 'Operating revenue (Turnover)\nth USD 2013',
 'Operating revenue (Turnover)\nth LCU 2012',
 'Operating revenue (Turnover)\nth USD 2012',
 'Operating revenue (Turnover)\nth LCU 2011',
 'Operating revenue (Turnover)\nth USD 2011']

In [4]:
import pandas as pd

file_path = '/Users/claupq/Documents/MediaLabPUCP/_data/bogota_firms.xlsx'

# Read the DataFrame of 'Results'
df_results = pd.read_excel(file_path, sheet_name='Results')

# Use 'loc' to reshape the dataset from wide to long and filter columns
melted_df_results = df_results.melt(
    id_vars=['Company name Latin alphabet'],
    var_name='year',
    value_name='value'
).loc[
    :, ['Company name Latin alphabet', 'year', 'value']
]

# Drop columns if they are in Dollars
melted_df_results = melted_df_results.loc[
    ~melted_df_results['year'].str.contains('Dollars')
]

# Keept columns since 2023
melted_df_results = melted_df_results.loc[
    melted_df_results['year'] >= 'Operating revenue (Turnover)\nth LCU 2023'
].sort_values(
    by=['Company name Latin alphabet', 'year']
).reset_index(
    drop=True
)

# Display the resulting DataFrame
display("DataFrame reorganizado (formato largo):")
display(melted_df_results.head())

'DataFrame reorganizado (formato largo):'

  Company name Latin alphabet                                       year value
0              1 UP MOTOS SAS  Operating revenue (Turnover)\nth LCU 2023  n.a.
1              1 UP MOTOS SAS  Operating revenue (Turnover)\nth USD 2011  n.a.
2              1 UP MOTOS SAS  Operating revenue (Turnover)\nth USD 2012  n.a.
3              1 UP MOTOS SAS  Operating revenue (Turnover)\nth USD 2013  n.a.
4              1 UP MOTOS SAS  Operating revenue (Turnover)\nth USD 2014  n.a.

***Exercise 3*** Rename the columns and use short names for each column. This new name should be shorter than 20 characters.

In [ ]:
import pandas as pd

# Cargar el archivo excel
df_results = pd.read_excel('../../_data/bogota_firms.xlsx', sheet_name='Results')

In [ ]:
# Definir un diccionario con los nuevos nombres de las columnas
short_names = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6','col7','col8','col9','col10','col11','col12','col13','col14', 'col15', 'col16', 'col17', 'col18', 'col19','col20','col21','col22','col23','col24','col25','col26', 'col27','col28','col29','col30','col31','col32', 'col33']
# Asignar nombres cortos a las columnas
df_results.columns = short_names

In [13]:
print(df_results)

         col1                                               col2 col3  \
0         1.0  CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...   CO
1         2.0              AGRET CARGA NACIONAL Y ESPECIAL S A S   CO
2         3.0                           DINASTIA INVERSIONES S A   CO
3         4.0                       BACKBONE COMUNICACIONES LTDA   CO
4         5.0                                MACAOL ESPINOSA SAS   CO
...       ...                                                ...  ...
9995   9996.0                                     GRADISPAN LTDA   CO
9996   9997.0    CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S   CO
9997   9998.0                         JOSHUA CAFE IRLANDES S A S   CO
9998   9999.0                    PROYECTO AGUAS DEL BOSQUE S A S   CO
9999  10000.0                      GRUPO INVERSIONES SYNERGY SAS   CO

              col4    col5 col6  col7  col8  col9        col10  ...  \
0             CALI  4299.0   U1  2022  n.a.  n.a.      4769810  ...
1           BOGOTA  4941.0   U1  2022  n.a.  n.a.  4769796.503  ...
2     BARRANQUILLA  4771.0   U1  2007  n.a.  n.a.         n.a.  ...
3           BOGOTA  6190.0   U1  2022  n.a.  n.a.  4769348.616  ...
4           BOGOTA  6820.0   U1  2022  n.a.  n.a.      4769148  ...
...            ...     ...  ...   ...   ...   ...          ...  ...
9995        BOGOTA  4631.0   U1  2011  n.a.  n.a.         n.a.  ...
9996        BOGOTA  6920.0   U1  2022  n.a.  n.a.  3736339.155  ...
9997        BOGOTA  5610.0   U1  2018  n.a.  n.a.         n.a.  ...
9998      MEDELLIN  4110.0   U1  2021  n.a.  n.a.         n.a.  ...
9999       POPAYAN  4110.0   U1  2020  n.a.  n.a.         n.a.  ...

            col24         col25        col26         col27       col28  \
0        58155914  18465.301699     51813164  21656.856573    23800831
1            n.a.          n.a.         n.a.          n.a.        n.a.
2            n.a.          n.a.         n.a.          n.a.        n.a.
3         1170331    371.596172   874868.654    365.677436      532706
4          165799      52.64346       303235    126.746108      245349
...           ...           ...          ...           ...         ...
9995         n.a.          n.a.         n.a.          n.a.        n.a.
9996  1012683.301    321.540861  1032912.114    431.736412  920263.426
9997         n.a.          n.a.  1827067.154    763.677186     1353686
9998         n.a.          n.a.         n.a.          n.a.        n.a.
9999  136867.8004     43.457407         n.a.          n.a.        n.a.

             col29   col30       col31    col32       col33
0     12379.759862    n.a.        n.a.     n.a.        n.a.
1             n.a.    n.a.        n.a.     n.a.        n.a.
2             n.a.    n.a.        n.a.     n.a.        n.a.
3       277.081601    n.a.        n.a.     n.a.        n.a.
4       127.615784    n.a.        n.a.     n.a.        n.a.
...            ...     ...         ...      ...         ...
9995          n.a.    n.a.        n.a.  1509000  776.754003
9996    478.665649    n.a.        n.a.     n.a.        n.a.
9997    704.105987  880349  496.939939   293967  151.318783
9998          n.a.    n.a.        n.a.     n.a.        n.a.
9999          n.a.    n.a.        n.a.     n.a.        n.a.

[10000 rows x 33 columns]

***Exercise 4*** Generate a dictionary with the definition of all the columns in your dataset.

In [1]:
summary_statistics = {
    'Unnamed: 0': {
        'count': 10000.00000,
        'mean': 5000.50000,
        'std': 2886.89568,
        'min': 1.00000,
        '25%': 2500.75000,
        '50%': 5000.50000,
        '75%': 7500.25000,
        'max': 10000.00000
    },
    'NACE Rev. 2, core code (4 digits)': {
        'count': 9650.000000,
        'mean': 4842.839482,
        'std': 2167.757574,
        'min': 100.000000,
        '25%': 4299.000000,
        '50%': 4690.000000,
        '75%': 6120.000000,
        'max': 9609.000000
    },
    'Last avail. year': {
        'count': 10000.000000,
        'mean': 2020.296500,
        'std': 3.672947,
        'min': 2005.000000,
        '25%': 2021.000000,
        '50%': 2022.000000,
        '75%': 2022.000000,
        'max': 2023.000000
    }
}

# Print the dictionary
for column, stats in summary_statistics.items():
    print(f"{column}:")
    for stat, value in stats.items():
        print(f"  {stat}: {value}")
    print()

Unnamed: 0:
  count: 10000.0
  mean: 5000.5
  std: 2886.89568
  min: 1.0
  25%: 2500.75
  50%: 5000.5
  75%: 7500.25
  max: 10000.0

NACE Rev. 2, core code (4 digits):
  count: 9650.0
  mean: 4842.839482
  std: 2167.757574
  min: 100.0
  25%: 4299.0
  50%: 4690.0
  75%: 6120.0
  max: 9609.0

Last avail. year:
  count: 10000.0
  mean: 2020.2965
  std: 3.672947
  min: 2005.0
  25%: 2021.0
  50%: 2022.0
  75%: 2022.0
  max: 2023.0

***Exercise 5*** Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.

In [23]:
import pandas as pd
import re

def calling_data(firm_name, start_year, end_year=None):
    # Cargar el conjunto de datos
    datos = pd.read_excel('/Users/mlagunas/Documents/GitHub/Pr-ctica/bogota_firms.xlsx', sheet_name='Results')

    # Filtrar por nombre de empresa o lista de nombres
    if isinstance(firm_name, str):
        df_filtered = datos[datos['Company name Latin alphabet'] == firm_name]
    elif isinstance(firm_name, list):
        df_filtered = datos[datos['Company name Latin alphabet'].isin(firm_name)]
    else:
        raise ValueError("firm_name debe ser un string o una lista de strings.")

    # Filtrar por rango de años si se proporciona end_year
    if end_year is not None:
        df_filtered = df_filtered[(df_filtered['Last avail. year'] >= start_year) & (df_filtered['Last avail. year'] <= end_year)]
    else:
        df_filtered = df_filtered[df_filtered['Last avail. year'] == start_year]

    # Restaurar el formato original
    df_original_format = pd.melt(df_filtered, id_vars=['Company name Latin alphabet', 'Last avail. year'],
                                  var_name='Operating year', value_name='Operating revenue (Turnover)')

    # Filtrar las filas donde 'Operating revenue (Turnover)' no está disponible
    df_original_format = df_original_format[df_original_format['Operating revenue (Turnover)'] != 'n.a.']

    # Convertir la columna 'Operating year' a tipo numérico
    df_original_format['Operating year'] = pd.to_numeric(df_original_format['Operating year'].str.extract('(\d+)')[0])

    # Renombrar las columnas con nombres más cortos
    df_original_format = df_original_format.rename(columns={
        'Company name Latin alphabet': 'Compañía',
        'Last avail. year': 'Año',
        'Operating revenue (Turnover)': 'Valor'
    })

    # Generar un diccionario de definiciones de columnas (puedes utilizar el que ya has creado)
    column_definitions = {
        'Compañía': 'Nombre de la empresa en alfabeto latino',
        'Año': 'Año de los datos',
        'Valor': 'Ingresos operativos (facturación) en moneda local'
        # Agrega más definiciones de columnas según sea necesario
    }

    return df_original_format, column_definitions

In [24]:
# Expample
firm_name = 'UROCCIDENTE S A S'
start_year = 2016
end_year = 2022

result_df, variables_dict = calling_data(firm_name, start_year, end_year)
if result_df is not None:
    print(result_df)
    print(variables_dict)

             Compañía   Año  Operating year        Valor
0   UROCCIDENTE S A S  2022             0.0       9987.0
1   UROCCIDENTE S A S  2022             NaN           CO
2   UROCCIDENTE S A S  2022             NaN         CALI
3   UROCCIDENTE S A S  2022             2.0       4773.0
4   UROCCIDENTE S A S  2022             NaN           U1
7   UROCCIDENTE S A S  2022          2022.0   3736753.96
8   UROCCIDENTE S A S  2022          2022.0   776.839598
9   UROCCIDENTE S A S  2022          2021.0   3698608.22
10  UROCCIDENTE S A S  2022          2021.0   929.027814
11  UROCCIDENTE S A S  2022          2020.0  3381841.552
12  UROCCIDENTE S A S  2022          2020.0   981.695153
13  UROCCIDENTE S A S  2022          2019.0   4000406.97
14  UROCCIDENTE S A S  2022          2019.0   1214.43419
15  UROCCIDENTE S A S  2022          2018.0  3646575.713
16  UROCCIDENTE S A S  2022          2018.0  1113.454819
17  UROCCIDENTE S A S  2022          2017.0   3156694.93
18  UROCCIDENTE S A S  2022          2017.0  1062.277275
19  UROCCIDENTE S A S  2022          2016.0  2715861.755
20  UROCCIDENTE S A S  2022          2016.0   905.073038
21  UROCCIDENTE S A S  2022          2015.0  2380790.121
22  UROCCIDENTE S A S  2022          2015.0   755.933573
23  UROCCIDENTE S A S  2022          2014.0  2050939.075
24  UROCCIDENTE S A S  2022          2014.0    857.25113
25  UROCCIDENTE S A S  2022          2013.0  1947233.843
26  UROCCIDENTE S A S  2022          2013.0  1012.833853
{'Compañía': 'Nombre de la empresa en alfabeto latino', 'Año': 'Año de los datos', 'Valor': 'Ingresos operativos (facturación) en moneda local'}

In [25]:
result_df

             Compañía   Año  Operating year        Valor
0   UROCCIDENTE S A S  2022             0.0       9987.0
1   UROCCIDENTE S A S  2022             NaN           CO
2   UROCCIDENTE S A S  2022             NaN         CALI
3   UROCCIDENTE S A S  2022             2.0       4773.0
4   UROCCIDENTE S A S  2022             NaN           U1
7   UROCCIDENTE S A S  2022          2022.0   3736753.96
8   UROCCIDENTE S A S  2022          2022.0   776.839598
9   UROCCIDENTE S A S  2022          2021.0   3698608.22
10  UROCCIDENTE S A S  2022          2021.0   929.027814
11  UROCCIDENTE S A S  2022          2020.0  3381841.552
12  UROCCIDENTE S A S  2022          2020.0   981.695153
13  UROCCIDENTE S A S  2022          2019.0   4000406.97
14  UROCCIDENTE S A S  2022          2019.0   1214.43419
15  UROCCIDENTE S A S  2022          2018.0  3646575.713
16  UROCCIDENTE S A S  2022          2018.0  1113.454819
17  UROCCIDENTE S A S  2022          2017.0   3156694.93
18  UROCCIDENTE S A S  2022          2017.0  1062.277275
19  UROCCIDENTE S A S  2022          2016.0  2715861.755
20  UROCCIDENTE S A S  2022          2016.0   905.073038
21  UROCCIDENTE S A S  2022          2015.0  2380790.121
22  UROCCIDENTE S A S  2022          2015.0   755.933573
23  UROCCIDENTE S A S  2022          2014.0  2050939.075
24  UROCCIDENTE S A S  2022          2014.0    857.25113
25  UROCCIDENTE S A S  2022          2013.0  1947233.843
26  UROCCIDENTE S A S  2022          2013.0  1012.833853