# Assignment 4

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.
2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
4. Generate a dictionary with the definition of all the columns in your dataset.
5. Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.

***Excercise 1***

In [2]:
import pandas as pd

file_path = '/Users/claupq/Documents/MediaLabPUCP/_data/bogota_firms.xlsx'

# read DataFrame from 'Search summary'
df_search_summary = pd.read_excel(file_path, sheet_name='Search summary')

# read the DataFrame from'Results'
df_results = pd.read_excel(file_path, sheet_name='Results')

# show descriptive statistics on 'Search summary'
display("\nEstadísticas descriptivas de la hoja 'Search summary':")
display(df_search_summary.describe())

# Show descriptive statistics on 'Results'
display("\nEstadísticas descriptivas de la hoja 'Results':")
display(df_results.describe())

"\nEstadísticas descriptivas de la hoja 'Search summary':"

,List export,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
count,23,9,2,3,4,3
unique,23,9,2,3,4,3
top,Product name,Orbis,31/03,"Active companies, Unknown situation",Step result,Search result
freq,1,1,1,1,1,1

"\nEstadísticas descriptivas de la hoja 'Results':"

        Unnamed: 0  NACE Rev. 2, core code (4 digits)  Last avail. year
count  10000.00000                        9650.000000      10000.000000
mean    5000.50000                        4842.839482       2020.296500
std     2886.89568                        2167.757574          3.672947
min        1.00000                         100.000000       2005.000000
25%     2500.75000                        4299.000000       2021.000000
50%     5000.50000                        4690.000000       2022.000000
75%     7500.25000                        6120.000000       2022.000000
max    10000.00000                        9609.000000       2023.000000

***Excercise 2***

In [3]:
import pandas as pd

file_path = '/Users/claupq/Documents/MediaLabPUCP/_data/bogota_firms.xlsx'

# Read the Excel file and retrieve the column names from the 'Results' sheet
df = pd.read_excel(file_path, sheet_name='Results')

# Show the names of the columns
column_names = df.columns.tolist()
print("Nombres de las columnas en la hoja 'Results':")
display(column_names)

Nombres de las columnas en la hoja 'Results':

['Unnamed: 0',
 'Company name Latin alphabet',
 'Country ISO code',
 'City\nLatin Alphabet',
 'NACE Rev. 2, core code (4 digits)',
 'Consolidation code',
 'Last avail. year',
 'Operating revenue (Turnover)\nth LCU 2023',
 'Operating revenue (Turnover)\nth USD 2023',
 'Operating revenue (Turnover)\nth LCU 2022',
 'Operating revenue (Turnover)\nth USD 2022',
 'Operating revenue (Turnover)\nth LCU 2021',
 'Operating revenue (Turnover)\nth USD 2021',
 'Operating revenue (Turnover)\nth LCU 2020',
 'Operating revenue (Turnover)\nth USD 2020',
 'Operating revenue (Turnover)\nth LCU 2019',
 'Operating revenue (Turnover)\nth USD 2019',
 'Operating revenue (Turnover)\nth LCU 2018',
 'Operating revenue (Turnover)\nth USD 2018',
 'Operating revenue (Turnover)\nth LCU 2017',
 'Operating revenue (Turnover)\nth USD 2017',
 'Operating revenue (Turnover)\nth LCU 2016',
 'Operating revenue (Turnover)\nth USD 2016',
 'Operating revenue (Turnover)\nth LCU 2015',
 'Operating revenue (Turnover)\nth USD 2015',
 'Operating revenue (Turnover)\nth LCU 2014',
 'Operating revenue (Turnover)\nth USD 2014',
 'Operating revenue (Turnover)\nth LCU 2013',
 'Operating revenue (Turnover)\nth USD 2013',
 'Operating revenue (Turnover)\nth LCU 2012',
 'Operating revenue (Turnover)\nth USD 2012',
 'Operating revenue (Turnover)\nth LCU 2011',
 'Operating revenue (Turnover)\nth USD 2011']

In [4]:
import pandas as pd

file_path = '/Users/claupq/Documents/MediaLabPUCP/_data/bogota_firms.xlsx'

# Read the DataFrame of 'Results'
df_results = pd.read_excel(file_path, sheet_name='Results')

# Use 'loc' to reshape the dataset from wide to long and filter columns
melted_df_results = df_results.melt(
    id_vars=['Company name Latin alphabet'],
    var_name='year',
    value_name='value'
).loc[
    :, ['Company name Latin alphabet', 'year', 'value']
]

# Drop columns if they are in Dollars
melted_df_results = melted_df_results.loc[
    ~melted_df_results['year'].str.contains('Dollars')
]

# Keept columns since 2023
melted_df_results = melted_df_results.loc[
    melted_df_results['year'] >= 'Operating revenue (Turnover)\nth LCU 2023'
].sort_values(
    by=['Company name Latin alphabet', 'year']
).reset_index(
    drop=True
)

# Display the resulting DataFrame
display("DataFrame reorganizado (formato largo):")
display(melted_df_results.head())

'DataFrame reorganizado (formato largo):'

  Company name Latin alphabet                                       year value
0              1 UP MOTOS SAS  Operating revenue (Turnover)\nth LCU 2023  n.a.
1              1 UP MOTOS SAS  Operating revenue (Turnover)\nth USD 2011  n.a.
2              1 UP MOTOS SAS  Operating revenue (Turnover)\nth USD 2012  n.a.
3              1 UP MOTOS SAS  Operating revenue (Turnover)\nth USD 2013  n.a.
4              1 UP MOTOS SAS  Operating revenue (Turnover)\nth USD 2014  n.a.