# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [5]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

# PREGUNTA 1
1. Primero le ponemos el nombre de "item2" al segundo item de la tupla 1, usando indexing
2. Imprimimos el primer objeto del "item2", también usando indexing

In [6]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
item2 = tuple1[1]
item2[0]

10

# PREGUNTA 2
1. Primero le ponemos el nombre de "tuple 1" al segundo item de la tuple, usando indexing
2. Imprimimos el último objeto de "tuple 1", también usando indexing

In [7]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[-1]

(5, 15, 25)

# PREGUNTA 3

1. No se puede editar una tupla

In [8]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[2]=

SyntaxError: invalid syntax (3191468508.py, line 2)

# PREGUNTA 4
1. Usamos length function con el "tuple1"  para definir la longitud.

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
len(tuple1)

# Pregunta 5 
1. Colocamos map() junto con la función sum() para sumar cada sublista dentro de la tupla.
2. Se genera la lista "mapped", la cual tiene la suma.
3. Se obtienen los resultados de cada sublista.
4. Para la suma total, se suman todos los elementos dentro de mapped con el código sum(mapped)
5. Finalmente, con print(total_sum), obtenemos el resulatdo final.

In [ ]:
tuple2 = ([7, 8], [9, 1], [10, 7])
mapped = map(sum,tuple2)
list(mapped)

In [ ]:
tuple2 = ([7, 8], [9, 1], [10, 7])
mapped = map(sum,tuple2)
total_sum = sum(mapped)
print(total_sum)

# PREGUNTA 6
1. Se usa la función lambda y map para dividir cada elemento de las sublistas entre 2
2. Se usa tuple para convertir el resultado en una tupla
3. Finalmente se utiliza print para imprimir el resultado

In [ ]:
tuple2 = ([7, 8], [9, 1], [10, 7])
tuple3 = tuple(map(lambda sublist: [x / 2 for x in sublist], tuple2))
print(tuple3)

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

# PREGUNTA 1

1. Primero, importamos la biblioteca "numpy", que nos ayuda a realizar operaciones numéricas, y la renombramos con las siglas "np".

In [10]:
import numpy as np

2. Creamos la lista "f_list", en la cual se encuentra el valor "np.nan".

In [ ]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

3. Usamos un código de comprensión de lista para identificar y recopilar los índices de aquellos ítems que son tanto el tipo float como el valor np.nan. La función enumerate se utiliza para obtener el índice como el valor correspondiente de cada ítem en la lista. La condición isinstance(value, float) comprueba que el elemento sea del tipo float, mientras que np.isnan(value) comprueba que su valor sea np.nan. Los índices que cumplen con estas condiciones se juntan y almacenan en la lista denominada nan_indices.

In [ ]:
nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, float) and np.isnan(value)]

4. Finalmente, usamos "f-strings" para imprimir los índices de los valores "np.nan". Luego, para formatear estos índices, utilizamos ".join(map(str, nan_indices))".

In [ ]:
print(f"The indices {', '.join(map(str, nan_indices))} have values np.nan.")

# PREGUNTA 2

1. Definimos la lista original p2_list con los valores [2, 3, 4, 5].

In [ ]:
p2_list = [ 2 , 3, 4, 5 ]

2. Para replicar los valores de "p2_list" cuatro veces, colocamos el operador de multiplicación (*). Esto crea una nueva lista llamada replicated_list con los elementos [2, 3, 4, 5].

In [ ]:
replicated_list = p2_list * 4

3. Finalmente, imprimimos la lista "replicated_list", que contiene los valores replicados, para mostrar la salida esperada.

In [ ]:
print(replicated_list)

# PREGUNTA 3

1. Colocamos la función "len(f_list)", que sirve para determinar la longitud de la lista, para imprimir el resultado.

In [11]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [12]:
len(f_list)

8

# Pregunta 4

1. Primero, tenemos la lista "text1" que contiene las palabras que queremos unir para formar una oración.

In [13]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

2. Utilizamos la función "join" para juntar los elementos de la lista text1 en una cadena de texto. La cadena que proporcionamos como separador (en este caso, un espacio en blanco ' ') se inserta entre cada par de elementos en la lista cuando se juntan. Esto crea una cadena que representa la oración completa.

In [15]:
sentence = ' '.join(text1)

3. Finalmente, imprimimos la cadena sentence, que ahora contiene la oración completa formada por los elementos de la lista text1 unidos con espacios.

In [16]:
print(sentence)

My teacher assistant is so boring.

In [ ]:
p2_list = [ 2 , 3, 4, 5 ]

In [ ]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [ ]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [ ]:
str1 = 'I am                            too                                                        old'

In [ ]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]