# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [3]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

# PREGUNTA 1
1. Primero le ponemos el nombre de "item2" al segundo item de la tupla 1, usando indexing
2. Imprimimos el primer objeto del "item2", también usando indexing

In [8]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
item2 = tuple1[1]
item2[0]

10

# PREGUNTA 2
1. Primero le ponemos el nombre de "tuple 1" al segundo item de la tuple, usando indexing
2. Imprimimos el último objeto de "tuple 1", también usando indexing

In [3]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[-1]

(5, 15, 25)

# PREGUNTA 3

1. No se puede editar una tupla

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[2]=

# PREGUNTA 4
1. Usamos length function con el "tuple1"  para definir la longitud.

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
len(tuple1)

3

# Pregunta 5 
1. Colocamos map() junto con la función sum() para sumar cada sublista dentro de la tupla.
2. Se genera la lista "mapped", la cual tiene la suma.
3. Se obtienen los resultados de cada sublista.
4. Para la suma total, se suman todos los elementos dentro de mapped con el código sum(mapped)
5. Finalmente, con print(total_sum), obtenemos el resulatdo final.

In [16]:
tuple2 = ([7, 8], [9, 1], [10, 7])
mapped = map(sum,tuple2)
list(mapped)

[15, 10, 17]

In [19]:
tuple2 = ([7, 8], [9, 1], [10, 7])
mapped = map(sum,tuple2)
total_sum = sum(mapped)
print(total_sum)

42

# PREGUNTA 6
1. Se usa la función lambda y map para dividir cada elemento de las sublistas entre 2
2. Se usa tuple para convertir el resultado en una tupla
3. Finalmente se utiliza print para imprimir el resultado

In [2]:
tuple2 = ([7, 8], [9, 1], [10, 7])
tuple3 = tuple(map(lambda sublist: [x / 2 for x in sublist], tuple2))
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

# PREGUNTA 1

1. Primero, importamos la biblioteca "numpy", que nos ayuda a realizar operaciones numéricas, y la renombramos con las siglas "np".

In [4]:
import numpy as np

2. Creamos la lista "f_list", en la cual se encuentra el valor "np.nan".

In [5]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

3. Usamos un código de comprensión de lista para identificar y recopilar los índices de aquellos ítems que son tanto el tipo float como el valor np.nan. La función enumerate se utiliza para obtener el índice como el valor correspondiente de cada ítem en la lista. La condición isinstance(value, float) comprueba que el elemento sea del tipo float, mientras que np.isnan(value) comprueba que su valor sea np.nan. Los índices que cumplen con estas condiciones se juntan y almacenan en la lista denominada nan_indices.

In [6]:
nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, float) and np.isnan(value)]

4. Finalmente, usamos "f-strings" para imprimir los índices de los valores "np.nan". Luego, para formatear estos índices, utilizamos ".join(map(str, nan_indices))".

In [7]:
print(f"The indices {', '.join(map(str, nan_indices))} have values np.nan.")

The indices 0, 1, 4, 7 have values np.nan.

# Pregunta 2

1. Definimos la lista original p2_list con los valores [2, 3, 4, 5].

In [8]:
p2_list = [ 2 , 3, 4, 5 ]

2. Para replicar los valores de "p2_list" cuatro veces, colocamos el operador de multiplicación (*). Esto crea una nueva lista llamada replicated_list con los elementos [2, 3, 4, 5].

In [9]:
replicated_list = p2_list * 4

3. Finalmente, imprimimos la lista "replicated_list", que contiene los valores replicados, para mostrar la salida esperada.

In [10]:
print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

# Pregunta 3

1. Colocamos la función "len(f_list)", que sirve para determinar la longitud de la lista, para imprimir el resultado.

In [11]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [12]:
len(f_list)

8

# Pregunta 4

1. Primero, tenemos la lista "text1" que contiene las palabras que queremos unir para formar una oración.

In [14]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

2. Utilizamos la función "join" para juntar los elementos de la lista text1 en una cadena de texto. La cadena que proporcionamos como separador (en este caso, un espacio en blanco ' ') se inserta entre cada par de elementos en la lista cuando se juntan. Esto crea una cadena que representa la oración completa.

In [15]:
sentence = ' '.join(text1)

3. Finalmente, imprimimos la cadena sentence, que ahora contiene la oración completa formada por los elementos de la lista text1 unidos con espacios.

In [16]:
print(sentence)

My teacher assistant is so boring.

In [ ]:
p2_list = [ 2 , 3, 4, 5 ]

In [5]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [32]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

52

# PREGUNTA 5
1. Primero se crea una lista con las palabras que se requieren 
2. Usamos join para unir todas las palabras de la lista text1 en una sola cadena, separando cada palabra por un espacio.
3. Se imprime el resultado

In [10]:
text1 = ["My", "TA", "is", "so", "boring,", "but", "is", "very", "funny."]

In [11]:
result = ' '.join(text1)

In [12]:
print(result)

My TA is so boring, but is very funny.

# PREGUNTA 6

1. Se crea la lista "values1" para agrupar los valores
2. Se usa la función max para definir el valor máximo de la lista
3. Con index vemos en qué índice se encuentra este valor
4. Para encontrar el valor mínimo usamos la función min
5. Nuevamente se utiliza index
6. Utilizamos fstrings para imprimir el resultado

In [13]:
values1 = [3, 45, 23, 65, 12, 86, 0, 9]

In [14]:
max_value = max(values1)

In [15]:
max_index = values1.index(max_value)

In [16]:
min_value = min(values1)

In [17]:
min_index = values1.index(min_value)

In [18]:
print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")

The max value of values1 is 86 and is located in the 5 index.

In [19]:
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The min value of values1 is 0 and is located in the 6 index.

# PREGUNTA 7
1. Se crea una lista con nombres y apellidos de esta manera: apellido, nombre
2.  Aplicamos la función split(', ') a cada item usando map para dividirlo en una lista de 2 elementos que son apellidos y nombres
3. Usamos zip para obtener 2 tuplas: apellidos y nombres
4. Nombramos las tuplas y luego se convierten a listas
5. Se imprime el resultado

In [26]:
last_and_name = ["CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS"]

In [27]:
last_names, names = zip(*(map(lambda x: x.split(', '), last_and_name)))

In [28]:
last_names = list(last_names)

In [29]:
names = list(names)

In [30]:
print("Last Names:", last_names)

Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

In [31]:
print("Names:", names)

Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']

# PREGUNTA 8
1. Se crean las listas de apellido y email
2. Se usa zip(emails, last_names) para unir los emails con los apellidos que le corresponden
3. Se filtran los pares donde el correo electrónico es una cadena vacía
4. Con map(lambda x: x[1], ...) extraemos los apellidos de los estudiantes sin c

In [33]:
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe"]

In [34]:
no_email_last_names = list(map(lambda x: x[1], filter(lambda x: not x[0], zip(emails, last_names))))

In [35]:
print("Last Names of Students without Email:", no_email_last_names)

Last Names of Students without Email: ['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

# PREGUNTA 1

1. Primero usamos la funcion split para crear una lista con palabras individuales y los espacios. 
2. Con la lista "[palabra for palabra in palabras if palabra.strip()]" filtramos unicamente las palabras que no son espacios en blanco, es decir, eliminamos los espacios en blanco.
3. Utilizamos la función joint para unir las palabras en cadena. Finalmente imprimimos el resultado.

In [21]:
str1 = 'I am                            too                                                        old'

In [15]:
palabras = str1.split()

In [16]:
palabras_sin_duplicados = [palabra for palabra in palabras if palabra.strip()]

In [17]:
str_sin_duplicados = ' '.join(palabras_sin_duplicados)

In [18]:
print(str_sin_duplicados)

I am too old

# PREGUNTA 2
1. Primero, con la función "str1.replace('','') eliminamos los espacios en blanco.
2. Con la funcion len() podemos contar unicamente las letras ya que previamente eliminamos los espacios en blanco. Luego imprimimos.

In [28]:
str_without_spaces = str1.replace(' ', '')
num_letters = len(str_without_spaces)
print(num_letters)

9

# PREGUNTA 3
1. La pregunta puede resolverse sin usar la función len(), para eso usamos la funcion count y seleccionamos colocamos el valor de espacio en blanco.
2. Finalmente imprimimos y obtenemos la respuesta.

In [30]:
num_spaces = str1.count(' ')
print(num_spaces)

85

# PREGUNTA 4
1.Primero utilizamos la función map () para poder utilizar la función lambda, que nos permite tomar el argumento email y aplicar la función email.find(@) en la lista de emails.

2.La función lambda lambda email: email.find('@') se aplica a cada cadena en emails. email.find('@') encuentra la posición del @ en cada mail.

In [34]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [33]:
positions = list(map(lambda email: email.find('@'), emails))

print("Positions of '@' in each string:", positions)

Positions of '@' in each string: [9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

# PREGUNTA 5
1. Al igual que en la pregunta anterior, usamos la function map junto con la lambda para verificar si existe el .edu en casa mail. 
2. Ponemos como argumento el "'.edu' in email" y que verifique la veracidad de dicho argumento en la lista emails.
3. Dicho código, cuando lo imprimimos, nos imprime en que posición existe un .edu, en cada string (email).

In [35]:
has_edu = list(map(lambda email: '.edu' in email, emails))

In [36]:
print("Presence of '.edu' in each string:", has_edu)

Presence of '.edu' in each string: [True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

# PREGUNTA 6
1. Podemos volver a usar la funcion lamba con map, pero esta vez con la función find. El código email[ :email.find('.')] nos indica que estamos buscando todo los caracteres que van detras de cada punto. Lambda nos ayuda a aplicar esto en cad a string.
2. Seguidamente el código sum() nos ayuda a contar cuantos de los string de la lista before-dot-with-at contiene un arroba.

This part counts how many of the substrings obtained previously (before_dot_with_at) contain the @ symbol using a generator expression inside the sum() function. For each string in before_dot_with_at, it checks if '@' is in the string and sums up the number of occurrences.

In [42]:
before_dot_with_at = list(map(lambda email: email[:email.find('.')], emails))

In [43]:
count_with_at = sum('@' in string for string in before_dot_with_at)

In [44]:
print( before_dot_with_at)

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']

In [45]:
print(count_with_at)

14